.article {
  display: flex;
  margin-bottom:1em;
  padding: 0.25em 1em;
  text-decoration: none;
  background-color: #1a1d2e;
  color: #eee;
  border-radius: 4px;
  will-change: background-color;
  transition: background-color 100ms ease-in-out;
  /* border: 2px solid rgba(255,255,255,0.1) */
}
.article:hover {
  background-color: rgba(255,255,255,0.1)
}
.meta {
  font-size: 70%;
  line-height:1em;
}
.labels span {
  margin-left: .5em;
  background-color: #88d754;
  color: #1a1d2e;
  border-radius: 0.5em;
  padding: 0em 0.5em;
  line-height: 1.5em;
  display: inline-flex;
  margin-bottom: 0.2em;
}
