.pagenav h1 {
  display:flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 0.5em
}
.pagenav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.pagenav button {
  cursor: pointer;
  padding: 0 2em;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #88d754;
  color: #88d754;
}
.done {
  margin: 2em auto;
  display:flex;
  justify-content: space-evenly;
  align-content: center;
}
.articles {
  margin: 0 1em;
}