html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	/* background: #FAFAFA; */
	/* background: #ccc; */
  /* background: lightsteelblue; */
  /* background: #67B26F;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4ca2cd, #67B26F); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
  color: #444;
  font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* fallback */
/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
} */

/* .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} */

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.mdc-theme--dark {
	background-color: #333;
	color: #fff;
}
header {
  /* background: #333399 */
  background: #ff4b1f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
articlelist {
  display: flex;
  flex-direction: column;
}
articlelist > img {
  margin: auto;
  display: flex;
  width: 80%;
}
article {
  background-color: #fafafa;
  margin: 0.5em 0.25em;
  border-radius: 0.25em;
}

a {
  color: #ff4b1f;
}
a:visited {
  color: #ffa080;
}
.mdc-toolbar__title {
  text-align: center
}
.merge-button {
  background: transparent;
  border: 1px solid white;
  border-radius: 0.25em;
  margin: 0.25em auto;
  /* width: 80%; */
  color: white;
  text-align: center;
  padding: 0.75em 2em;
  font-size: 100%;
}
article img {
  width: 100%;
}
article .article-date {
  font-size: 80%;
  text-align: right;
}
article .labels {
  margin: 0.25em 0;
}
article .labels > span{
  display: inline-block;
  box-sizing: border-box;
  font-size: 80%;
  background-color: #ddd;
  border-radius: 0.5em;
  padding: 0 1em;
  margin: 0.25em 0 0.25em 0.25em;
}
@media (min-width: 700px) {
  article > .mdc-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  article > .mdc-card > a {
    width: 30%;
    margin-bottom: -.35em;
  }
  article .text-body {
  }
}
.mdc-card__title {
  text-align: right;
}
.loader, .quest-complete {
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
.quest-complete .emoji {
  font-size: 200%;
}
