html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #0c101b;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #6f727f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	/* height: 100%; */
}

/* Style Theme 

color: #88d754; // accent 1 green
color: #2f81ff; // accent 2 blue
color: #6f727f; // text
color: #070c15; // dark menu
color: #131521; // dark unselected
color: #1a1d2e; // dark selected

*/